<mat-card>
    <mat-card-title>LOGIN</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Email">
                    <mat-error>Email is required</mat-error>
                </mat-form-field>
            </p>
            <p>    
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Password">
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
            </p>
            
            <mat-error *ngFor="let err of errors">{{err}}</mat-error>

            <button type="submit" mat-raised-button color="primary">Sign In</button>
            
        </form>
    </mat-card-content>
    <span class="advertising">For test the invalid use case, please start session with the email: blockedUser@mail.com</span>
</mat-card>