<mat-toolbar color="primary">
    <span>Angular challenge</span>
    <span class="fill-remaining-space"></span>
    <span><button mat-button>Sign out</button></span>
</mat-toolbar>
<section id="container-list">
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>ID: 1 / USER_ID: 1</mat-card-title>
        <mat-card-title>qui est esse</mat-card-title>
        <mat-card-content>
            et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis
            pariatur\nmolestiae porro eius odio et labore et velit aut
        </mat-card-content>
    </mat-card>
</section>